/* style.css */

.mainDiv {
    background: rgba(46, 31, 49, 0.7); /* 70% transparency */
    display: flex;
    flex-direction: column;
     /* Ensure the div fills the viewport height */
    margin: 0;
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100vh;
  }
  
  .content {
    flex: 1; /* Make the content div expand to fill the remaining space */
    padding: 20px; /* Add padding to the content */
    margin-bottom: 130px;
    overflow-y: scroll;
  }
  
  
  
  .mainBox {
    position: relative;
    background: rgba(46, 31, 49, 0.7);
    border-radius: 30px;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between; /* Align items at the start of the flex container */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    overflow-y: auto;
    
  }

.specialHeader{
    color: #bf81ef;
    position: absolute;
    top: 12px; /* Adjust as needed */
    left: 25px; /* Adjust as needed */
    letter-spacing: -1px;
    font-weight:550;
    font-size: 2.1rem; 
    
}
.allClasses {
    
  /* Adjust styles for the second div as needed */
  margin: 10px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-right: 20px;
  background: rgb(245, 244, 245); /* Background color */
  border-radius: 30px; /* Adjust the border radius to control the roundness */
  padding: 110px; /* Add padding inside the box */
  padding-bottom: 10px;
  width: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  position: relative; /* Ensure elements are positioned relative to their container */
  display: flex; /* Use flexbox layout */
  justify-content:left; /* Align items at the start of the flex container */
  flex-wrap: wrap;
  align-self: flex-start;
  flex-direction: column;
  align-items: flex-start;
  
}
.classes{
  
  /* Adjust styles for the second div as needed */
  margin-bottom: 15px ;
  margin-left: -100px;
  background: rgba(30, 30, 30, 0.7); /* Background color */
  border-radius: 20px; /* Adjust the border radius to control the roundness */
  width: 310px;
  height: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  position: relative; /* Ensure elements are positioned relative to their container */
  display: flex; /* Use flexbox layout */
  justify-content:left; /* Aligmn items at the start of the flex container */
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}
  
.flexContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  overflow-x: auto; 
}



.semester {
  /* Adjust styles for the second div as needed */
  margin: 20px;
  background: rgb(245, 244, 245); /* Background color */
  border-radius: 30px; /* Adjust the border radius to control the roundness */
  padding: 150px; /* Add padding inside the box */
  width: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  position: relative; /* Ensure elements are positioned relative to their container */
  display: flex; /* Use flexbox layout */
  justify-content: flex-start; /* Aligmn items at the start of the flex container */
  flex-wrap: wrap;
  padding-bottom:200px;
}

.semester:nth-last-child(n) {
  align-self: center;
}
