/* style.css */

.mainDiv {
  background: rgba(46, 31, 49, 0.7); /* 70% transparency */
  display: flex;
  flex-direction:column;
   /* Ensure the div fills the viewport height */
  margin: 0;
  overflow-y: auto; /* Enable vertical scrolling */
  height: 100vh;
}

.content {
  flex: 1; /* Make the content div expand to fill the remaining space */
  padding: 20px; /* Add padding to the content */
  margin-bottom: 130px;
  overflow-y: scroll;
}



.mainBox {
  position: relative;
  background: rgba(46, 31, 49, 0.7);
  border-radius: 30px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between; /* Align items at the start of the flex container */
  flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
  overflow-y: auto;
  
}

.allClasses {
  
/* Adjust styles for the second div as needed */
margin: 10px;
margin-top: 0px;
margin-bottom: 30px;
margin-right: 20px;
background: rgb(245, 244, 245); /* Background color */
border-radius: 30px; /* Adjust the border radius to control the roundness */
min-width: 450px;
height:500px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
position: relative; /* Ensure elements are positioned relative to their container */
display: flex; /* Use flexbox layout */
flex-direction: column;
align-items: flex-start;
overflow-y:auto;
}


.flexContainer {
display: flex;
align-items: center;
flex-direction: row;
overflow-x: auto; 
}

.semester {
margin: 20px;
background: rgb(245, 244, 245);
border-radius: 30px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
position: relative;
display: flex;
justify-content: flex-start;
overflow-y: auto; /* Enable vertical scrolling */
padding: 160px; /* This padding can be adjusted as needed */
padding-bottom: 230px; /* This padding can be adjusted as needed */
min-width: 150px; /* Set a minimum width if necessary */
width: 90%; /* Set the desired width */
max-width: 10px; /* Adjust the maximum width as needed */
align-items: center;
}


.specialHeader{
margin:15px;
display: flex;
flex-direction: column;
align-items: flex-start;
color: #bf81ef;
letter-spacing: -1px;
font-weight:550;
font-size: 2.4rem; 
}

.semesterHeader{
color: #bf81ef;
position: absolute;
top: 12px; /* Adjust as needed */
left: 25px; /* Adjust as needed */
letter-spacing: -1px;
font-weight:550;
font-size: 2.1rem; 

}


/* Image styles */
.whiteStar {
width: 40px; /* Set the desired width */
height: auto; /* Maintain aspect ratio */
vertical-align: middle;

}

/* Text link styles */
li {
text-decoration: none;
}