/* style.css */

.mainDiv {
    background: rgba(46, 31, 49, 0.7); /* 70% transparency */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the div fills the viewport height */
    margin: 0;
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .content {
    flex: 1; /* Make the content div expand to fill the remaining space */
    padding: 20px; /* Add padding to the content */
  }
  
  .mainBox {
    position: relative; 
    background: rgba(46, 31, 49, 0.7); /* 70% transparency */
    border-radius: 30px; /* Adjust the border radius to control the roundness */
    padding: 250px; /* Add padding inside the box */
    margin: 20px; /* Margin for the mainBox */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  }

  .allClasses {
    background: rgb(245, 244, 245); /* Background color */
    border-radius: 30px; /* Adjust the border radius to control the roundness */
    padding: 50px ; /* Add padding inside the box */
    position:absolute; /* Position .allClasses absolutely within .mainBox */
    top: 15px; /* Align .allClasses with the top edge of .mainBox */
    left: 15px; /* Align .allClasses with the left edge of .mainBox */
    /*right: 400px;  Align .allClasses with the right edge of .mainBox */
    bottom: 15px; /* Align .allClasses with the bottom edge of .mainBox */
    width: 13%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    
}

.specialHeader{
    color: #bf81ef;
    position: absolute;
    top: 15px; /* Adjust as needed */
    left: 30px; /* Adjust as needed */
    letter-spacing: -1px;
    font-weight: medium;
    
}
  