.classes{
  
    /* Adjust styles for the second div as needed */
    margin-bottom: 15px ;
    margin-left: -100px;
    background: rgba(30, 30, 30, 0.7); /* Background color */
    border-radius: 20px; /* Adjust the border radius to control the roundness */
    width: 90%;
    min-width:310px;
    max-width:310px;
    height: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    position: relative; /* Ensure elements are positioned relative to their container */
    display: flex; /* Use flexbox layout */
    justify-content:left; /* Aligmn items at the start of the flex container */
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }