

.classes{
  
    /* Adjust styles for the second div as needed */
    margin-bottom: 15px ;
    margin-left: -100px;
    background: rgba(30, 30, 30, 0.7); /* Background color */
    border-radius: 20px; /* Adjust the border radius to control the roundness */
    width: 90%;
    min-width:310px;
    max-width:310px;
    height: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    position: relative; /* Ensure elements are positioned relative to their container */
    display: flex; /* Use flexbox layout */
    justify-content:left; /* Aligmn items at the start of the flex container */
    flex-wrap: wrap;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }

  .semester {
    /* Adjust styles for the second div as needed */
    margin: 20px;
    background: rgb(245, 244, 245); /* Background color */
    border-radius: 30px; /* Adjust the border radius to control the roundness */
    padding: 160px; /* Add padding inside the box */
    width: 90%;
    max-width:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
    position: relative; /* Ensure elements are positioned relative to their container */
    display: flex; /* Use flexbox layout */
    justify-content: flex-start; /* Aligmn items at the start of the flex container */
    flex-wrap: wrap;
    padding-bottom:230px;
    align-items: center;
  }

  /*

  /* Adjust styles for the second div as needed 
  margin-top: 0px;
  margin-bottom: 30px;
  margin-right:40px;
  background: rgb(245, 244, 245);
  border-radius: 30px; 
  padding: 120px 27px ; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  position: relative; 
  display: flex; 
  flex-wrap: wrap;
  flex-direction: column;
  align-items:flex-start;
  
}
*/

.drop-area {
  height: 20px;
  width: 100%;
  text-align: center;
  background-color: burlywood;
  display: none;
}
