/*import Sudo Var font */
@font-face {
    font-family: 'Sudo Var';
    src: url('https://fonts.cdnfonts.com/css/sudo-var');
  }
  
  
  .main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 6rem;
      min-height: 100vh;
    }
  
    
   
    
  
   
    
    .navbar{
      /*
      background-color: #333;
      border: 1px solid #2E1F31;
      */
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
    }
    
    .profileWhite{
  
      width: 40px; /* Set the desired width */
      height: auto; /* Maintain aspect ratio */
      vertical-align: middle;
  
    }
  
    .degPWhite{
  
      width: 40px; /* Set the desired width */
      height: auto; /* Maintain aspect ratio */
      vertical-align: middle;
    }
  
    .chatWhite{
      width: 40px; /* Set the desired width */
      height: auto; /* Maintain aspect ratio */
      vertical-align: middle;
  
    }
    a{
      text-decoration: none;
    }
  
    