@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Jura:wght@300..700&family=Open+Sans&display=swap');



.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

/* background */
.backgroundFont {
  background-color: rgba(96, 241, 135, 0.9);
  font-family: 'Jura', Arial, sans-serif; /* Ensure all text uses Jura */
}
