@font-face {
  font-family: 'Offside';
  src: url(fonts/Offside-Regular.ttf);
}

@font-face{
  font-family: 'SudoVar';
  src: url(fonts/SudoVariable.ttf);
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Arial;
  background-image: linear-gradient(to top, #BF81EF, #84f8c7);
  background-repeat: no-repeat;
}

* {
  --primary-color: #2E1F31;
  --secondary-color: #007bff;
  --accent-color: #17a2b8;
  --success-color: #28a745;
  --warning-color: #ffc107;
}